.descr
    font-weight: 400
    font-size: 20px
    color: #666666
    &_advantages
        line-height: 28px
        margin-top: 20px
        &_width
            margin-top: 37px
            width: 438px

    &_footer
        width: 265px
        font-size: 16px
        line-height: 24px
        &_upper
            text-transform: uppercase
            width: auto
