.title
    font-weight: 700
    font-size: 45px
    color: #0D0D0D
    &_center
        text-align: center
        text-transform: uppercase
    &_advantages
        &_card
            margin-top: 27px
            font-size: 22px
            text-align: center
            line-height: 27px
            width: 243px
        &_forwhom
            text-transform: uppercase
        &_width
            width: 539px
            line-height: 52px
            margin-top: 65px
        &_inner
            font-weight: 400
            font-size: 16px
            line-height: 24px
            margin-top: 15px
            text-align: center

    &_room
        font-size: 18px
        margin-top: 23px

    &_booking
        font-weight: 700
        font-size: 45px
        text-transform: uppercase
        color: #FFFFFF
        text-align: center
        line-height: 52px
    
    &_carousel
        text-transform: uppercase

    &_location
        font-weight: 700
        font-size: 27px
        text-transform: uppercase
        width: 326px
        margin-top: 49px
        margin-bottom: 15px